.post {
  padding: 4rem;

  margin: 3rem auto;
  max-width: 960px;
  width: 100%;

  @media (min-width: 1360px) {
    max-width: 1280px;
  }

  border-radius: 1rem;

  background: rgba($color: #000, $alpha: 0.5);
  color: white;

  display: inline-flex;
  align-items: center;

  .contentPost {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    width: 50%;

    margin: 0 3rem;

    .descriptionPost {
      font-weight: 600;
      font-size: 3rem;

      flex-shrink: 3;

      text-align: center;

      letter-spacing: 1px;
    }

    .explanationPost {
      margin-top: 4rem;

      text-align: justify;

      text-indent: 3rem;

      word-wrap: break-word;
    }

    .postFooter {
      margin-top: 1rem;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap: 5px;
      font-size: 1.2rem;
    }
  }

  .imagePosts {
    max-width: 50%;
    max-height: 80rem;

    border-radius: 1rem;
  }

  @media (max-width: 960px) {
    display: flex;
    flex-direction: column;

    .contentPost {
      width: 90%;
    }

    .imagePosts {
      max-width: 90%;
    }
  }

  @media (max-width: 375px) {
    .contentPost {
      width: 100%;
    }
  }
}
